<section>
    <div class="Div_65854">
        <div class="Div_65854_left space_div">
            <div class="oba-box largeX ">
                <img src="/images/CVExmples/cv-banner-fr.webp" class="ImgContainer" alt="CV Banner"/>
            </div>
        </div>
        <div class="Div_65854_right space_div">
            <div class="banner_content_presentation">
                <h3 class="intro">Générateur de CV<br/>simple, facile et rapide</h3>
                <p class="intro_V1">Démarquez-vous avec nos modèles professionnels et créez un CV efficace en utilisant nos phrases pretes à l'emploi</p>
                <p style="margin-top: 40px;"><a href="{{ path('generate_cv')}}" class="btn_generate">Choisir un modèle</a></p>
            </div>
        </div>
    </div>
</section>