<footer style="position:relative;top:20px;">
    <section class="contain">
        <div class="aventury_container bgBlack footerContainer">
            <p>Developped by FMA-SOFT. Tous droit réservés</p>
        </div>
    </section>
</footer>